#sideDisplay{
	-fx-background-color: linear-gradient(to bottom right, lightslategrey, lightgray);
}

#label{
	-fx-font-weight: bold;
	-fx-font-style: italic;
	-fx-font-size: 17px;
	-fx-text-fill: lightyellow;
	-fx-effect: dropshadow(gaussian, black, 0px, 0px, 3px, 3px) ;
}

#label:hover{
	-fx-text-fill: yellow;
}